*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: antiquewhite;
    text-decoration: wavy black;
}

body{
    background-color: darkcyan;
}
main{
    background-color: #4444;

}